/** Basic config file **/

configuration {
  display-drun: "Apps";
  display-window: "Windows";

  show-icons: true;
  icon-theme: "Papirus";
}

@theme "/home/kazuto/.config/rofi/themes/catppuccin-mocha.rasi"

* {
  font: "JetBrainsMono Nerd Font 12";
}
