* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font, monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #CDD6F4;
}

tooltip {
  background: #1E1E2E;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111B;
}

#clock,
#workspaces,
#window,
#custom-spotify,
#tray,
#custom-updates,
#pulseaudio,
#cpu,
#memory,
#network {
  background: #1E1E2E;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
}

#workspaces {
  background: #1E1E2E;
  border-radius: 10px;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#workspaces button {
  box-shadow: unset;
  border: unset;

  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #A6ADC8;
}

#workspaces button.focused {
  color: #A6ADC8;
  border-radius: 10px;
  outline: none;
}

#workspaces button.urgent {
  color: #F38BA8;
  background: none;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111B;
  color: #cdd6f4;
  border-radius: 10px;
}

#clock {
  color: #FAB387;
  border-radius: 10px;
  margin-left: 5px;
}

#window {
  border-radius: 10px;
}

#custom-spotify {
  border-radius: 10px;
  margin-right: 10px;
  color: #A6E3A1;
}

#tray {
  border-radius: 10px;
  margin-right: 10px;
}

#cpu {
  border-radius: 10px 0px 0px 10px;
  color: #89DCEB;
}

#memory {
  color: #74C7EC;
}

#network {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  color: #89B4FA;
}

#custom-updates {
  color: #F5C2E7;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
  color: #CBA6F7;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}

#pulseaudio.microphone {
  color: #CBA6F7;
  border-radius: 0px 10px 10px 0px;
  margin-right: 5px;
}
